@import "bourbon";
@import "neat";

* {
	font-family: 'Catamaran', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

.container {
	margin-right: auto;
    margin-left: auto;
    max-width: 88rem;
    position: relative;
}
